Diagnostics:
  Includes:
    IgnoreHeader:
      - boost/.* # boost header cannot be processed properly
  Suppress:
    - readability-identifier-length
    - cppcoreguidelines-non-private-member-variables-in-classes
    - llvm-include-order

---

If:
  PathMatch: test/.*

Diagnostics:
  Suppress:
    - hicpp-avoid-goto
    - cppcoreguidelines-avoid-goto
    - cppcoreguidelines-avoid-const-or-ref-data-members
    - readability-function-cognitive-complexity
