BasedOnStyle: Microsoft

AlignAfterOpenBracket: BlockIndent

BinPackParameters: false

AllowShortLambdasOnASingleLine: All

BreakAfterAttributes: Always
BreakBeforeConceptDeclarations: Always
BreakTemplateDeclarations: Yes

FixNamespaceComments: true
ShortNamespaceLines: 0

NamespaceIndentation: Inner

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: ^[<"](gtest/|gmock/|boost/|nlohmann/|syscmdline/|webui)
    Priority: 2
  - Regex: <[[:alnum:]._]+>
    Priority: 3
IncludeIsMainRegex: (.test)?$

SortUsingDeclarations: Lexicographic

IndentPPDirectives: AfterHash
PPIndentWidth: 1

PackConstructorInitializers: NextLine

QualifierAlignment: Custom
QualifierOrder: [inline, static, constexpr, type, const, volatile]

PointerAlignment: Left
ReferenceAlignment: Pointer
